body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

.main{
    margin: 2em 5em;
    height: 20em;
}

#homeLink{
    text-decoration: none;
    color: black;
}

.styledLink{
    display: block;
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin-left: 4em;
    margin-top: 1em;
    float: left;
    color: black;
    text-decoration: none;
    text-align: center;
    border-radius: 20%;
}

.centeredText{
    margin-top: 5em;
}

.deleteBtn{
    background-color: red;
    border-radius: 20%;
}

.deleteBtn:hover{
    cursor: pointer;
}

.editBtn{
    background-color: green;
    border-radius: 20%;
}

.editBtn:hover{
    cursor: pointer;
}

.login{
    float: right;
    margin-right: 15em;
}

.qBtn{
    background-color: yellow;
    border-radius: 20%;
}
.qBtn:hover{
    cursor: pointer;
}